.invert {
    filter: invert(1);
}

.white {
    color: #b3b3b3;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    
}

.white-all {
    color: white;
    font-family: 'Poppins';
}

.font-1 {
    font-size: 22px;
}

html {
  scroll-behavior: smooth;
}


.font-2 {
    font-size: 13px;
    margin-top: 3px;
}

.white-all1 {
    font-weight: 500;
    color: white;
    font-family: 'Poppins';
    margin: 0;
    padding: 2px 0;
}